<%= form_with(model: inventory, local: true) do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product %>
    <%= form.collection_select(:product_id, @products, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, required: true %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, required: true %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight, required: true %>
  </div>

  <div class="field">
    <%= form.label :price_cents %>
    <%= form.number_field :price_cents, required: true %>
  </div>

  <div class="field">
    <%= form.label :sale_price_cents %>
    <%= form.number_field :sale_price_cents, required: true %>
  </div>

  <div class="field">
    <%= form.label :cost_cents %>
    <%= form.number_field :cost_cents, required: true %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku, required: true %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.number_field :length, required: true %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width, required: true %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height, required: true %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
