<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= link_to @inventory.product.name, product_path(@inventory.product.id) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @inventory.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @inventory.weight %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @inventory.price_cents %>
</p>

<p>
  <strong>Sale price cents:</strong>
  <%= @inventory.sale_price_cents %>
</p>

<p>
  <strong>Cost cents:</strong>
  <%= @inventory.cost_cents %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @inventory.sku %>
</p>

<p>
  <strong>Length:</strong>
  <%= @inventory.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @inventory.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @inventory.height %>
</p>

<p>
  <strong>Note:</strong>
  <%= @inventory.note %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
