<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :shop_name %><br />
    <%= f.text_field :shop_name, autocomplete: "Shop Name", required: true %>
  </div>

  <div class="field">
    <%= f.label :card_brand %><br />
    <%= f.text_field :card_brand, autocomplete: "Card Brand" %>
  </div>

  <div class="field">
    <%= f.label :card_last_four %><br />
    <%= f.number_field :card_last_four, autocomplete: "0000" %>
  </div>

  <div class="field">
    <%= f.label :shop_domain %><br />
    <%= f.text_field :shop_domain, required: true %>
  </div>

  <div class="field">
    <%= f.label :billing_plan %><br />
    <%= f.text_field :billing_plan %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
