<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= link_to @order.product.name, product_path(@order.product) %>
</p>

<p>
  <strong>Inventory SKU:</strong>
  <%= link_to @order.inventory.sku, inventory_path(@order.inventory) %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @order.street_address %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @order.apartment %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @order.state %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @order.country_code %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @order.zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @order.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Payment ref:</strong>
  <%= @order.payment_ref %>
</p>

<p>
  <strong>Transaction ID:</strong>
  <%= @order.transaction_id %>
</p>

<p>
  <strong>Payment amt cents:</strong>
  <%= @order.payment_amt_cents %>
</p>

<p>
  <strong>Ship charged cents:</strong>
  <%= @order.ship_charged_cents %>
</p>

<p>
  <strong>Ship cost cents:</strong>
  <%= @order.ship_cost_cents %>
</p>

<p>
  <strong>Subtotal cents:</strong>
  <%= @order.subtotal_cents %>
</p>

<p>
  <strong>Total cents:</strong>
  <%= @order.total_cents %>
</p>

<p>
  <strong>Shipper name:</strong>
  <%= @order.shipper_name %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @order.payment_date %>
</p>

<p>
  <strong>Shipped date:</strong>
  <%= @order.shipped_date %>
</p>

<p>
  <strong>Tracking number:</strong>
  <%= @order.tracking_number %>
</p>

<p>
  <strong>Tax total cents:</strong>
  <%= @order.tax_total_cents %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
